.button {
	background-color: $blue;
	color: white;
	font-size: $font-size-large;
	font-weight: 300;
	border: none;
	padding: $s-size;
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	border: none;
}

.button--link {
	background: none;
	color: white; 
}

.button--delete {
	background: lighten(red, 10);
}

